<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InCheqMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>779E224228254635F45BDA650776EAE20836BFA5</string>
				<key>dateExpires</key>
				<string>7.02.24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>779E224228254635F45BDA650776EAE20836BFA5</string>
						<key>dateExpires</key>
						<string>7.02.24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4D8L2L8P5</string>
						<key>name</key>
						<string>Incheq LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>779E224228254635F45BDA650776EAE20836BFA5</string>
						<key>dateExpires</key>
						<string>7.02.24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Y4D8L2L8P5.com.incheq.taskapp.phone.OneSignalNotificationsExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>Y4D8L2L8P5</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>28aaddd0-3dcb-4719-8643-3f53154858bc</string>
						<key>dateExpires</key>
						<string>7.02.24</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.incheq.taskapp.phone.OneSignalNotificationsExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y4D8L2L8P5</string>
						<key>name</key>
						<string>Incheq LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y4D8L2L8P5.com.incheq.taskapp.phone</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>Y4D8L2L8P5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>InCheqMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5212eec0-cb8b-4260-889b-fbb9d84e1254</string>
				<key>dateExpires</key>
				<string>7.02.24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.incheq.taskapp.phone</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y4D8L2L8P5</string>
				<key>name</key>
				<string>Incheq LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1.0</string>
		</dict>
	</array>
</dict>
</plist>
